/*RESETAR PARA DISEÑAR*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*convierte los 16px de raiz a 10px para la nueva raiz*/
	font: inherit;/*Elimina todo formato de los elementos fuente*/
    font-size: inherit; /*cambia a 16px todo los elementos*/
}

/* centrar contenido o toda la caja en el layout */

.en_PADRE_a_hijos {
    height: 100vh;/*obligatorio*/
    width: 100vw; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.en_PADRE_a_hijos {
    min-height: 100vh;/*obligatorio*/
    display: grid;
    place-items: center;
    margin: 0;
}

.solo_HIJO {
    position: absolute; /*padre de estar en relative*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* centrar contenido o toda en la PARTE SUPERIOR */
.box{
	margin: 0 auto;
}

/*FUENTE*/
body{
	font-size: 1em; /*16px*/
}

.hijo {
	font-size: 1.3em; /*16 x 1.3 =20.8px */
}

.nieto {
	font-size: 1.3em; /*20.8 x 1.3 =27.4px */
}

.box{
	font-size: 16px;
	padding: 1.25em; /*depende del tamaño de la fuente de su caja*/
	margin: 1.25em; /*depende del tamaño de la fuente de su caja*/
	height: 1.25em; /*depende del tamaño de la fuente de su caja*/
}


/* con esto que el hijo empieze de abajo "bottom" del padre y la imagen se mueva a la izquierda en 50% del padre, y con transform : trasladamos -50% a la izquierda solo del elemento(imagen) y baje 50% de la misma imagen o elemento */
.solo_HIJO {
    position: absolute; /*padre de estar en relative*/
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
}


/*=================================================*/
/* ESTILOS NORMALES
(para móviles en vertical) 375 px*/
 
body { ... }
p    { ... }
 
 
/*RESPONSIVE*/
/* Móviles en horizontal o tablets en vertical */
@media (min-width: 768px)
 
/* Tablets en horizonal y escritorios normales*/
@media (min-width: 1024px)
 
/* Escritorios muy anchos */
@media (min-width: 1200px)


/*=================================================*/
/*700px*/
@media screen and (min-width: 43.75em)

/*1100px*/
@media screen and (min-width: 68.75em)

/*1440px*/
@media screen and (min-width: 90em)

@media screen and (min-width: 1400px) {
    box_total {
        transform: scale(1.15); /*escala todo el body o caja del contenido*/
    }
}

